<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src="./assets/images/my-avatar.png" alt="Ahmed Saeed" width="80" />
    </figure>

    <div class="info-content">
      <h1 class="name" title="Ahmed Saeed">Ahmed Saeed</h1>

      <p class="title">Senior Software Developer</p>
    </div>
    <center>
      <p class="contact-title">Flutter • Python • FastAPI • Django</p>
    </center>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>

      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>

  <div class="sidebar-info_more">
    <div class="separator"></div>

    <ul class="contacts-list">
      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Email</p>

          <a href="mailto:ahmedsaeed0973@gmail.com" class="contact-link"
            >ahmedsaeed0973@gmail.com</a
          >
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Location</p>

          <address>Islamabad, Pakistan</address>
        </div>
      </li>
    </ul>

    <div class="separator"></div>

    <ul class="social-list">
      <li class="social-item">
        <a
          href="https://www.linkedin.com/in/ahmedawwan/"
          class="social-link"
          target="_blank"
        >
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a
          href="https://github.com/ahmedawwan"
          class="social-link"
          target="_blank"
        >
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a
          href="https://stackoverflow.com/users/20607918/"
          class="social-link"
          target="_blank"
        >
          <ion-icon name="logo-stackoverflow"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a
          href="https://medium.com/@ahmedawwan"
          class="social-link"
          target="_blank"
        >
          <ion-icon name="logo-medium"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a
          href="https://instagram.com/ahmedawwan"
          class="social-link"
          target="_blank"
        >
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </li>
    </ul>
  </div>
</aside>
